

@media (max-width:500px){
    body{
        background-image: url("../images/pattern-background-mobile.svg");
        margin:1rem 0;
    }
    main{
        width:90%;
    }

    .dance-image{
        width:100%;
    }

    p{
        width:80%;
    }

    .container-music-plan-change{
        width:85%;
    }

    .movementfix{
        width:85%;
    }

    .cancel{
        margin:1.5rem 0
    }

    .attribution{
        display: none;
    }
}
